body {
    background-color: lightblue;
    display:flex;
    align-items:center;
    flex-direction: column;
}

button {
border-radius: 50%;
height: 20px;
width: 20px;
margin: 5px;
}

.numbers-operations {
    display: inline-flex;
    justify-content: flex-start;
    align-items:  center;
}

.number-container {
    background-color: rgb(20, 153, 135); 
    padding: 5px;
    display:inline-block;
}

.number-row {
    padding: 10px;
    background-color: rgb(180, 197, 30); 
    margin: 5px;
}

.operation-container {
    display:inline-flex;
    flex-direction:  column;
    padding: 20px;
    background-color:bisque;
}